{% extends 'appwev/base.html' %}

{% load static %}

{% block content %}

<div class="contenedorForm">

    {% if 'valido' in request.POST %}
<p style="color: white;">informacion enviada correctamente,gracias</p>
    {% endif %}

    
    <form accion="method="GET" style="text-align: center;">
    {% csrf_token %}
    <table style="color: white;margin: 20px auto;">{{miFormulario.as_table}}</table>


class="btn btn-pr
    <input type="submit" value="Enviar"style="width:150px">
    </form>


</div>




{% endblock %}
